.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax__elem {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
    padding: 70vh 0;
}

.parallax__elem_1 {
    transform: translateZ(0);
}

.parallax__elem_2 {
    transform: translateZ(-1px);
}

body {
    /*background-color: lightblue;*/
}

.bg-1 {
    position: absolute;
    width: 100vw;
    height: 2500px;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(2);
    padding: 30vh 0;
}

.bg-2 {
    position: relative;
    top: 420vh;
    width: 100vw;
    height: 1500px;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: translateZ(-1px) scale(2);
    padding: 30vh 0;
}

.box-container {
    position: absolute;
    transform: translateZ(0);
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto 30px;
    z-index: 1;
    padding: 30vh 0;
}

.box-container > div {
    display: grid;
    font-size: 40px;
    font-family: Arial;
    width: 25vw;
    height: 30vh;
    justify-content: center;
    align-content: center;
}

.color-a {
    background-color: #E4B564;
}

.color-b {
    background-color: aquamarine;
}

.color-c {
    background-color: lightcoral;
}